<div class="container padding-5">
    <mat-card>
        <form class="example-form">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 margin-2">
                    <img class="img-fluid" src="../../../assets/images/musica-salud-cerebro.jpg" alt="Cerebro Música">
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 margin-2">
                    <mat-form-field class="full-width">
                        <mat-label>Nombre de usuario:</mat-label>
                        <input matInput placeholder="Por favor ingrese el usuario...">
                    </mat-form-field>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 margin-2">
                    <mat-form-field class="full-width">
                        <mat-label>Contraseña</mat-label>
                        <input matInput placeholder="Por favor ingrese la contraseña...">
                    </mat-form-field>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 margin-2 margin-bottom-2">
                    <button class="full-width" mat-raised-button color="primary">Iniciar Sesión</button>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <a [routerLink]="['../formulario-registro']" rel="noopener noreferrer">
                        ¿Aún no te has registrado? da clic aquí!
                    </a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </form>
    </mat-card>
</div>